<div class="canvas-box">
  <div class="canvas-top" >
    <div id="lastInput" class="canvas-top-list">
    </div>
    <div class="canvas-top-items">
      <a class="button button-rounded" target="_blank" href="/dir">待审</a>
    </div>
  </div>
  <div id="canvas-body" class="canvas-body">
    <canvas id="main-canvas" class="main-canvas">
        你的浏览器不支持此功能
    </canvas>
  </div>
  <div class="canvas-bottom">
    <div>
      <button id="canvasClear" class="button button-rounded">清空</button>
    </div>
    <div>
      <input id="readyText" maxlength="1" size="1" style="text-align:center" type="text">
      <button id="bindText" status="wait" class="button button-rounded">绑定</button>
    </div>
    <div>
      <button id="canvasSave" class="button button-rounded" >保存</button>
    </div>
  </div>
</div>

<%= javascript_pack_tag 'main-canvas' %>